*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
   font-weight: 400;
}

nav a{
   text-decoration: none;
   color: white;
}
 
h1{
    text-align: center;
}


nav ul{
    display: flex;
    justify-content: space-between;
}

.divi{
 display: flex;
 justify-content: center;
}

.divi li{
    padding: 20px;
}

/*to center the image*/
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:5px ;
}

header h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    color: whitesmoke;
}

header{
    height: 180px;
    background-image: url('https://img.freepik.com/free-photo/top-view-roasted-coffee-beans-scattered-white-background-with-copy-space_141793-7140.jpg?size=626&ext=jpg&ga=GA1.1.196539411.1717230715&semt=ais_user');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#home
{
    text-align: center;
}
#home h1
{
    color: rgb(51, 24, 4);
    font-size: 50px;
}
h2
{
    color: rgb(64, 33, 11);
    font-size: 40px;
    text-align: center;
}
#home p
{
    text-align: justify;
    color: rgb(69, 12, 12);
    width: 600px;
    height: auto;
    border: 5px;
    border-style: groove;
    border-color: rgb(96, 69, 49);
    padding: 20px;
    font-size: 20px;
    transition: width 1s, height 1s, font-size 1s;
}
#home p:hover
{
    width: 700px;
    height: auto;
    font-size: 30px;
}

#i{
    justify-content: space-evenly;
    width: 100px;
}


 ul{
    display: flex;
    font-size: 20px;
    list-style: none;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
}



 a{
    text-decoration: none;
    color: rgb(199, 167, 149);
}


a:hover{
     text-shadow: 3px 4px 5px rgb(5, 5, 84); 
     color: rgb(0, 0, 0);
}


.about {
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.disContent {
    margin: 40px 0px 0px 100px;
    width: 50%;
    color: black;
    text-align: justify;
}
.disContent h1 {
    color:  #532c00 ;
    font-size: 35px;
    padding-bottom: 15px;
}
#disContent p {
    color: black;
    padding-bottom: 40px;
    font-size: 25px;
    border: 5px;
    border-style: groove;
    border-color: rgb(96, 69, 49);
    
}
#disImage {
    width: 50%;
}

.overlayImage {
    width: 300px;
    position: absolute;
    transform: translateY(-60%);
}


#types
{
    border: black;
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
    font-size: 22px;
    background-color: rgba(64, 43, 34, 0.422);
    background: linear-gradient(to top,rgba(134,34,42,0.82),50%,white 50% );
    transition: all 0.5s;
    background-size: 100% 200%;
}

#types:hover{
    color: antiquewhite;
 background-position: bottom;
}

#types p,li{
 text-align: justify;
}

#types h3{
    text-align: center;
} 


 #about img{
    height: 50px;
    padding: 10px;
    border-radius: 100%;
 }

 .d{
 width: 60%;
 height: 30%;
 margin: 5px;
 display: flex;
 margin-left: 20%;
 font-size: 25px;
 color: rgb(74, 53, 37);
}

 h3{
    text-align: center;
    font-size: 30px;
    color: brown ;
}
.d div
{
 width: 50%;
}

.d img
{
 width: 350px;
 height: auto;
 margin: 15px;
 margin: 20px;
 border-radius: 10px;
 transition: width 2s, height 1.5s, transform 1s;
}

.d div
{
    width: 60%;
}

.d img:hover
{
    transform: rotate(360deg) scale(1.3) translateY(5%) translateX(5%);
}

.gallery
{
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery img
{
    display: block;
    height: 200px;
    width: 300px;
    margin-bottom: 50px;
    border-radius: 4%;
    border: 2px solid rgb(58, 10, 10);
    box-shadow: 2px 2px 2px 3px rgba(148, 122, 122, 0.74);
    transition: 1s;
}

.gallery img:hover
{
    transform: scale(1.2);
    z-index: 1;
}

form{
    margin: 20px;
    padding: 0px 420px;
    
}

td{
    padding-bottom: 20px;
}

label{
    display: inline-block;
    width: 130px;
}
button{
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: medium;
    color: white;
    background-color: rgb(31, 6, 6);
}


footer 
{
    width: 100%;
    height: auto;
    background-color: rgb(181, 139, 110);
    display: flex;
    justify-content: space-between;
}
 
.col
{
    display: flex;
    margin: 20px;
    font-size: 16px;
}
.col h4
{
    font-size: 20px;
    color: rgb(69, 0, 0);
}

.col ul
{
    list-style: none;
}

.col li
{
   display: flex;
}
.col i
{
    padding: 10px;
    color: rgb(80, 24, 13);
}


/* Media Query for screen width 492px and below */
@media screen and (max-width: 492px) {
    header img {
        height: 60px;
        width: 60px;
    }

    header h3 {
        font-size: 16px;
    }

    nav ul {
        display: flex;
        padding: 0px;
    }

    nav ul li {
        margin: 3px 0;
    }

    section#home h1 {
        font-size: 20px;
    }

    section#home h2 {
        font-size: 16px;
    }

    section#home p {
        font-size: 14px;
    }


    .about{
        flex-direction: column;
    }

    .about .disContent {
        padding: 10px;
        font-size: large;
    }

    .about .disImage img {
        width: 100%;
        height: auto;
    }

    .d {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .d img {
        width: 100%;
        height: auto;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }


    form {
        margin: 10px;
        padding: 0px 20px; 
    }

    label {
        width: 100%; 
        margin-bottom: 10px; 
    }

    td {
        padding-bottom: 10px; 
    }

    button {
        width: 100%; 
        height: 40px; 
        font-size: large; 
    }

    footer {
        flex-direction: column; 
        align-items: center; 
    }

    .col {
        flex-direction: column; 
        margin: 10px 0px; 
        text-align: center; 
    }

    .col h4 {
        font-size: 18px; 
    }

    .col ul {
        padding: 0px; 
    }

    .col i {
        padding: 5px; 
    }

    .col li {
        justify-content: center; 
        margin-bottom: 5px; 
    }

    .col p {
        line-height: 1.5; 
    }

}

